%h1
  Season #{@season.number} of
  %i= link_to @season.show.name, @season.show
  -if is_admin?
    = link_to edit_admin_season_path(@season) do
      %i.fi-pencil
- if is_admin?
  %p= link_to 'Add Episode', new_admin_season_episode_path(@season), class: 'button small'
= render partial: 'season', locals: {season: @season}
- if is_admin?
  %p= link_to 'Add Episode', new_admin_season_episode_path(@season), class: 'button small'