%h1
  Season #{@season.number} of
  %i= link_to @season.show.name, @season.show
- if is_admin?
  %p= link_to 'Add Episode', new_admin_season_episode_path(@season), class: 'button small'
- if @season.episodes.empty?
  No episodes posted. Check back later!
- else
  = render partial: 'episodes/episodes_table', locals: {episodes: @season.episodes, hide_season: true, hide_show: true}
- if is_admin?
  %p= link_to 'Add Episode', new_admin_season_episode_path(@season), class: 'button small'