- title "#{@episode.title} - #{@episode.show.nickname_or_name}"
%h1 "#{@episode.title}"
%h4
  Episode #{@episode.number} of
  Season #{@episode.season.number}
  of
  %i= link_to @episode.show.name, @episode.show
%p
  Aired: #{@episode.air_date.strftime('%B %d, %Y')}