= form_for @show, url: url_for(controller: 'admin/shows', action: (editing ? :update : :create)) do |f|
  = f.label :name
  = f.text_field :name
  = f.label :image
  = f.text_field :image
  = f.label :active
  = f.check_box :active
  %br
  = f.submit nil, class: 'button'