%ol.episodes
  - episodes.each do |episode|
    %li.episode
      = link_to '', episode.show, class: 'pic-link', style: "background-image: url(#{episode.show.image.medium_unaltered});"
        
      
      .general
        .name= episode.title
        .numbers
          = link_to "S#{episode.season.number}",episode.season
          = link_to "E#{episode.number}", episode\
          of
          = link_to "#{episode.show.name}", episode.show
      .spacer
      .box.aired
        Aired:
        %br
        .airdate
          %span.relative= air_tense(episode.air_date, true)
          %span.exact= episode.air_date.strftime("%m/%d/%Y")
      .spacer
      -if checkboxes
        .box
          = form_tag watch_episode_path(episode), remote: true do
            = check_box_tag :watched, 1, @current_user.episodes.include?(episode), id: nil
            = hidden_field_tag :return, true
        .spacer
      .box
        = link_to episode.torrent_link, target: '_blank' do
          %i.fi-download
        = link_to episode.kickass_link, target: '_blank' do
          Kickass

%table
  %thead
    %tr
      %th
      %th Title
      %th Season
      %th Episode
      %th #{checkboxes ? 'Aired' : 'Airs'}
      -if checkboxes
        %th
      %th
  %tbody
    - episodes.each do |episode|
      = content_tag_for(:tr, episode) do
        %td.episode
          = link_to episode.show do
            = image_tag episode.show.image.medium_unaltered
        %td= link_to episode.title, episode
        %td.center= link_to episode.season.number, episode.season
        %td.center= link_to episode.number, episode
        %td
          - west_coast_episode_time = episode.air_date.to_time + 20.hours + 8.hours

          - time_to_now = distance_of_time_in_words_to_now(west_coast_episode_time)
          - if west_coast_episode_time > @west_coast_time
            In #{time_to_now}
          - else
            #{time_to_now} Ago
        -if checkboxes
          %td
            = form_tag watch_episode_path(episode), remote: true do
              = check_box_tag :watched, 1, @current_user.episodes.include?(episode), id: nil
              = hidden_field_tag :return, true
        %td
          = link_to episode.torrent_link, target: '_blank' do
            %i.fi-download

