%table
  %thead
    %tr
      %th
      %th Title
      %th Season
      %th Episode
      %th #{checkboxes ? 'Aired' : 'Airs'}
      -if checkboxes
        %th
      %th
  %tbody
    - episodes.each do |episode|
      = content_tag_for(:tr, episode) do
        %td
          = link_to episode.show do
            = image_tag episode.show.image, class: 'small-image'
        %td= link_to episode.title, episode
        %td.center= link_to episode.season.number, episode.season
        %td.center= link_to episode.number, episode
        %td
          #{checkboxes ? '' : 'In '}#{distance_of_time_in_words_to_now(episode.air_date.to_time + 20*60*60)}#{checkboxes ? ' ago' : ''}
        -if checkboxes
          %td
            = form_tag watch_episode_path(episode), remote: true do
              = check_box_tag :watched, 1, @current_user.episodes.include?(episode), id: nil
              = hidden_field_tag :return, true
        %td
          = link_to episode.torrent_link, target: '_blank' do
            %i.fi-download