= form_for @episode, url: url_for(controller: 'admin/episodes', action: :create) do |f|
  = f.label :number
  = f.number_field :number, value: ((@num_guess +1) if @num_guess)
  = f.label :title
  = f.text_field :title
  = f.label :air_date
  = f.date_field :air_date, value: ((@week_guess +7) if @week_guess)
  = f.submit nil, class: 'button'