= form_for @episode, url: url_for(controller: 'admin/episodes', action: (editing ? :update : :create)) do |f|
  = f.label :number
  = f.number_field :number, value: (@num_guess.present? ? (@num_guess + 1) : @episode.number)
  = f.label :title
  = f.text_field :title
  = f.label :air_date
  = f.date_field :air_date, value: ( @week_guess.present? ? (@week_guess +7) : @episode.air_date)
  = f.submit nil, class: 'button'