- watched = is_logged_in? && @current_user.has_watched?(season)
- watched_episodes = watched ? season.episodes.count : (season.episodes & @current_user.watched_episodes).length
- completion = is_logged_in? ? (watched_episodes / season.episodes.count.to_f * 100) : 0
- total = season.episodes.length
.season-bar
  .season-arrow{class: "#{'down' unless watched}"}
  %span.title
    Season #{season.number}
    - if is_admin?
      = link_to edit_admin_season_path(season) do
        %i.fi-pencil
  - if season.episodes.empty?
    No episodes posted. Check back later!
  - else
    %span.progress.small-6{class: "#{'success' if watched}"}
      %span.meter{style: "width: #{completion}%"}
      .percentage #{watched_episodes} / #{total}
    .episode-list{class: "#{'up' if watched}"}
      = render partial: 'episodes/episodes_table', locals: {season: season, episodes:season.episodes, hide_season: true, hide_show: true}
