.tiles
  - shows.each do |show|
    .show.tile
      = link_to show do
        = image_tag show.image.large_unaltered
        .metadata
          %h5 #{show.name} #{show.year_range}
          .numbers #{pluralize(show.seasons.count, 'Season')}, #{pluralize(show.episodes.count, 'Episode')}
      