%table
  %thead
    %tr
      %th Image
      %th Name
      %th Seasons
      %th Episodes
      %th Start Date
      %th End Date
      - if is_logged_in?
        %th
      - if is_admin?
        %th
        %th
  %tbody
    - shows.each do |show|
      %tr
        %td
          = link_to show do
            = image_tag show.image.medium_unaltered
        %td= link_to show.name, show
        %td.center= show.seasons.count
        %td.center= show.episodes.count
        - air_dates = show.episodes.map{|e| e.air_date}.sort
        %td= air_dates.first.strftime("%b %d, %Y") if air_dates.any?
        %td= air_dates.last.strftime("%b %d, %Y") if air_dates.any?
        - if is_logged_in?
          %td.center
            = form_tag watch_show_path(show), remote: true do
              = check_box_tag :watched, 1, @current_user.followed_shows.include?(show), id: nil
        - if is_admin?
          %td
            = link_to edit_admin_show_path(show) do
              %i.fi-pencil 
          %td
            = link_to admin_show_path(show), method: :delete, data: {confirm: "Are you sure you want to delete #{show.name}?"} do
              %i.fi-trash