%h1
  All Shows
  - if is_admin?
    = link_to new_admin_show_path do
      %i.fi-plus
%h4 Currently Airing
= render partial: 'shows_tiles', locals: {shows: @active}
= render partial: 'shows_table', locals: {shows: @active}
%h4 Finished
= render partial: 'shows_table', locals: {shows: @inactive}
- if is_admin?
  %p= link_to 'Add Show', new_admin_show_path, class: 'button small'