%h1
  #{@show.name} #{@show.year_range}
  -if is_admin?
    = link_to edit_admin_show_path(@show) do
      %i.fi-pencil
= image_tag @show.image, class: 'large-image'
- if is_admin?
  %p= link_to 'Add Season', new_admin_show_season_path(@show), class: 'button small'
- if @seasons.empty?
  No seasons posted. Check back later!
- else
  - @seasons.each do |season|
    %h4
      = link_to "Season #{season.number}", season
      - if is_admin?
        = link_to edit_admin_season_path(season) do
          %i.fi-pencil
    = render partial: 'seasons/season', locals: {season: season}
- if is_admin?
  %p= link_to 'Add Season', new_admin_show_season_path(@show), class: 'button small'