%h1
  #{@show.name} #{@show.year_range}
  -if is_admin?
    = link_to edit_admin_show_path(@show) do
      %i.fi-pencil
= image_tag @show.image, style: 'max-height: 300px;'
- if is_admin?
  %p
    = link_to 'Check for Episodes', check_for_new_episodes_admin_show_path(@show), class: 'button small', method: :post
- if @seasons.empty?
  No seasons posted. Check back later!
- else
  - @seasons.each do |season|
    = render partial: 'season', locals: {season: season}
- if is_admin?
  %p= link_to 'Add Season', new_admin_show_season_path(@show), class: 'button small'