%li
  = link_to queue_path do
    %i.fi-list-thumbnails
    Queue
%li.divider
%li.has-dropdown#user-menu
  %a#profile-tease
    = image_tag @current_user.image.thumb, class: 'profile-pic-updateable'
    = @current_user.username
  %ul.dropdown
    %li
      = link_to account_path do
        %i.fi-torso
        Account
    %li
      = link_to login_path, method: :delete do
        %i.fi-power
        Log out