%nav.top-bar{data: {topbar: true, options: 'is_hover: false; sticky_on: large;'}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        = link_to 'ScreenGuide', root_path
  %section.top-bar-section
    -# Left Nav Section
    %ul.left
      %li.divider
    -# Right Nav Section
    %ul.right
      %li.has-form#top-search
        .row.collapse
          .small-12.columns
            = search_field_tag 'query', nil, class: 'round', autocomplete: 'off'
            %i.fi-magnify
      %li.divider
      %li
        = link_to shows_path do
          %i.fi-monitor
          Shows
      %li.divider
      - if @current_user
        %li
          = link_to queue_path do
            %i.fi-list-thumbnails
            Queue
        %li.divider
        %li.has-dropdown
          = link_to '#' do
            = @current_user.username
          %ul.dropdown
            %li
              = link_to account_path do
                %i.fi-torso
                Account
            %li
              = link_to login_path, method: :delete do
                %i.fi-power{style: 'color: #f55;'}
                Log out
        %li.divider

      - else
        %li
          = link_to login_path do
            %i.fi-pencil
            Register
        %li.divider
        %li
          = link_to login_path do
            %i.fi-power{style: 'color: #5f5;'}
            Log in
      %li.divider