%nav.top-bar{data: {topbar: true, options: 'is_hover: false; sticky_on: large;'}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        = link_to 'ScreenGuide', root_path
  %section.top-bar-section
    -# Left Nav Section
    %ul.left
      %li.divider
    -# Right Nav Section
    %ul.right
      %li.has-form#top-search
        .row.collapse
          .small-12.columns
            = search_field_tag 'query', nil, class: 'round', autocomplete: 'off', placeholder: 'Find a show'
            %i.fi-magnifying-glass
        %ul#live-results
      %li.divider
      %li
        = link_to shows_path do
          %i.fi-monitor
          Shows
      %li.divider
      - if is_logged_in?
        = render partial: 'layouts/partials/user_dropdown'
      - else
        = render partial: 'layouts/partials/anonymous'
      %li.divider